@import url("https://fonts.googleapis.com/css?family=Averia+Sans+Libre:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700");
@import url("https://fonts.googleapis.com/css?family=Alegreya:700");
@import url("https://fonts.googleapis.com/css?family=Gentium+Basic:700");
@import url("https://fonts.googleapis.com/css?family=Averia+Serif+Libre:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Eczar:400,500,600");
@import url("https://fonts.googleapis.com/css?family=UnifrakturMaguntia");
@import url("https://fonts.googleapis.com/css?family=Lora:400,700");
html {
  font-size: 10px; }

*, body {
  margin: 0px;
  padding: 0px; }

a {
  font-family: "Averia Serif Libre", sans-serif;
  font-weight: 700;
  font-size: 3.8rem;
  letter-spacing: -0.08rem;
  text-decoration: none;
  color: #220689; }
  a:visited {
    color: #220689; }
  a:hover {
    color: #CAFF4D; }

#canvas {
  z-index: -1000;
  position: fixed;
  height: 101vh; }

menu {
  position: fixed;
  top: 0px; }
  menu svg {
    stroke-width: 0.15rem;
    stroke: #390082;
    fill: white; }
    menu svg:hover path {
      fill: #CAFF4D; }
  menu .label {
    position: fixed;
    height: 8vw;
    margin: 2rem;
    z-index: 100; }
    menu .label#home-button {
      top: 0px; }
    menu .label#about-button {
      right: 8vw;
      bottom: 0px; }
    menu .label#work-button {
      width: 8vw;
      height: auto;
      top: 8vw;
      right: 0%; }

section {
  width: 100%;
  display: inline-block;
  position: relative;
  margin-top: -3px; }

#header {
  overflow: hidden;
  height: 101vh; }
  #header img.bg {
    z-index: -10;
    position: absolute;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: 100% auto; }
    #header img.bg#img-bottom {
      bottom: 0px; }
    #header img.bg#img-top {
      top: 0px; }
  #header img.plant {
    z-index: 10;
    position: absolute; }
    #header img.plant#spider {
      width: 40%;
      top: 0px;
      left: 5%; }
    #header img.plant#ficus {
      width: 50%;
      right: 5%;
      bottom: 20vw; }
    #header img.plant#big-leaf {
      width: 40%;
      left: -5%;
      bottom: 12vw; }
    #header img.plant#blue1 {
      width: 35%;
      left: 5%;
      bottom: 5vw; }
    #header img.plant#blue2 {
      width: 35%;
      right: -5%;
      bottom: 16vw; }
    #header img.plant#snake {
      width: 22%;
      right: 10%;
      bottom: 14vw; }
    #header img.plant#veeg {
      width: 20%;
      right: 5%;
      bottom: 12vw; }

#work {
  background: rgba(57, 0, 130, 0.8);
  position: relative;
  display: block; }
  #work #workcontent {
    position: relative;
    width: 80%;
    left: 5%;
    padding-top: 13.5rem;
    padding-bottom: 10rem; }
    #work #workcontent img {
      width: 100%; }

#about {
  background: rgba(164, 95, 201, 0.85);
  position: relative;
  height: 100vh; }
  #about #aboutcontent {
    position: relative;
    width: 75%;
    top: 15%;
    left: 10%; }
    #about #aboutcontent p {
      font-family: serif;
      color: #220689;
      font-size: 4rem;
      margin-bottom: 3rem; }
  #about img {
    position: absolute;
    bottom: 2rem;
    left: 5%;
    width: 30%; }

.content {
  z-index: 10;
  position: relative; }

@media (min-width: 800px) and (orientation: landscape) {
  a {
    font-size: 2.3rem; }

  #header .bg#img-top {
    content: url(../assets/d-squiggle-top.png);
    width: 60%;
    right: 0px; }
  #header .bg#img-bottom {
    width: 100%;
    content: url(../assets/d-squiggle-bottom.png); }
  #header img.plant {
    position: absolute; }
    #header img.plant#spider {
      width: 25%;
      top: 0px;
      left: 5%; }
    #header img.plant#big-leaf {
      width: 28%;
      left: 2%;
      bottom: 7vw; }
    #header img.plant#blue1 {
      width: 25%;
      left: 12%;
      bottom: 2vw; }
    #header img.plant#ficus {
      width: 25%;
      right: 22%;
      bottom: 10vw; }
    #header img.plant#blue2 {
      width: 22%;
      right: 2%;
      bottom: 8vw; }
    #header img.plant#snake {
      width: 12%;
      right: 15%;
      bottom: 9vw; }
    #header img.plant#veeg {
      width: 12%;
      right: 10%;
      bottom: 8vw; }

  menu .label {
    height: 7vh; }
    menu .label#work-button {
      width: 7vh;
      top: 7vh; }
    menu .label#about-button {
      right: 7vh; }

  #about #aboutcontent {
    width: 45%;
    left: 40%;
    top: 20%; }
    #about #aboutcontent p {
      font-size: 2.4rem; }
  #about img {
    width: 20%; }

  #work #workcontent img {
    width: 30%; } }

/*# sourceMappingURL=main.css.map */
