@import url('https://fonts.googleapis.com/css?family=Averia+Sans+Libre:300,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700');
@import url('https://fonts.googleapis.com/css?family=Alegreya:700');
@import url('https://fonts.googleapis.com/css?family=Gentium+Basic:700');
@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Eczar:400,500,600');
@import url('https://fonts.googleapis.com/css?family=UnifrakturMaguntia');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700');

$project-purple: #7a7af9;
$dark-purple: #390082;
$dark-purple: #574BA3;
$about-purple: #a45fc9;
$label-size: 8vh; 
$body-color: #220689;
$highlight: #BFFFFF;

html{
  font-size: 10px;
}

*, body{
	margin: 0px;
	padding: 0px;
}

h2{
	font-family: "Averia Sans Libre", sans-serif;
	text-transform: uppercase;
	font-size: 5rem;
	font-weight: 400; 
	color: white;
	margin-bottom: 3rem;
}

p, blockquote{
	font-family: serif;
	color: $body-color;
	font-size: 4rem;
	margin-bottom: 3rem;
}

blockquote{
	padding-left: 3rem;
	border-left: 2px solid $body-color;
}

a{
	font-family: "Averia Serif Libre", sans-serif;
	font-weight: 700;
	font-size: 3.8rem;
	letter-spacing: -0.08rem;
	text-decoration: none;
	color: $body-color;
	&:visited{
		color: $body-color;
	}
	&:hover{
		color: $highlight;
	}
}

#canvas{
	z-index: -1000; 
	position: fixed;
	height: 101vh;
}

menu{
	position: fixed;
	top: 0px;
	svg{
		stroke-width: 0.15rem; 
		stroke: $dark-purple; 
		fill: white; 
		&:hover path, 
		svg line{
			fill: $highlight;
		}
	}
	.label{
		position: fixed;
		height: 8vw;
		margin: 3rem;
		z-index: 100; 
		&#home-button{
			top: 0px; 
		}
		&#about-button{
			right: 10vw;
			bottom: 0px;
		}
		&#work-button{
			width: 8vw;
			height: auto;
			top: 11vw; 
			right: 0%;
		}
	}
	.fade{
		path, line{
			stroke: #5a5af8; 
			fill: #9a9afa; 
		}
		&#work-button{
			#hand path,
			#hand line{
				transform-origin: 50% 10%;
				-webkit-transform: rotate(225deg);
				-moz-transform: rotate(225deg);
				transform: rotate(225deg);
				
			}
		}
		&#about-button{
			#hand path,
			#hand line{
				transform-origin: 90% 48%;
				-webkit-transform: rotate(225deg);
				-moz-transform: rotate(225deg);
				transform: rotate(225deg);
				
			}
		}
	}
	#close-button{
		right: 0px;
	}
	#next{
		right: 0px;
		bottom: 0px;
	}
	#previous{
		bottom: -0.5rem;
	}
}

section{
	width: 100%; 
	display: inline-block;
	position: relative;
	margin-top: -3px;

}

#header{
	overflow: hidden;
	height: 101vh; 
	img.bg{
		z-index: -10;
		position: absolute;
		width: 100%;
		height: auto;
		background-repeat: no-repeat;
		background-size: 100% auto;
		&#img-bottom{
			bottom: 0px; 
		}
		&#img-top{
			top: 0px; 
		}
	}
	img.plant{
		z-index: 10;
		position: absolute;
		&#spider{
			width: 40%;
			top: 0px; 
			left: 5%;
		}
		&#ficus{
			width: 50%;
			right: 5%; 
			bottom: 20vw; 
		}
		&#big-leaf{
			width: 40%;
			left: -5%; 
			bottom: 12vw;
		}
		&#blue1{
			width: 35%;
			left: 5%; 
			bottom: 5vw;	
		}
		&#blue2{
			width: 35%;
			right: -5%; 
			bottom: 16vw;	
		}
		&#snake{
			width: 22%;
			right: 10%; 
			bottom: 14vw; 
		}
		&#veeg{
			width: 20%;
			right: 5%; 
			bottom: 12vw;
		}
	}
}

#work{
	background: rgba(57,0,130,0.8);
	background: rgba(90,90,248,0.85);
	position: relative;
	display: block;
	#workcontent{
		position: relative;
		width: 75%; 
		left: 10rem;
		padding-top: 20.5rem;
		padding-bottom: 10rem;
		img{
			width: 100%;
		}
	}
}

#about{
	background: rgba(164,95,201,0.85);
	position: relative;
	height: 100vh; 
	#aboutcontent{
		position: relative;
		width: 75%; 
		top: 20.5rem; 
		left: 10rem;
	}
	img{
		position: absolute;
		bottom: 2rem; 
		left: 5%; 
		width: 30%;
	}
}

#project{
	pointer-events: unset;
	background: rgba(122,122,249,0.88);
	#projectcontent{
		position: relative;
		width: 75%; 
		left: 10rem;
		padding-top: 20.5rem;
		padding-bottom: 20rem;
		div.img-group{
			margin-top: 5rem;
			margin-bottom: 5rem;
		}
		img, video{
			width: 100%;
			margin-top: -4px;
		}
	}
}

@media (min-width: 800px) and (orientation: landscape){
	p, blockquote{
		font-size: 2.4rem;
	}
	a{
		font-size: 2.3rem;
	}
	#header{
		.bg{
			&#img-top{
				content:url(../assets/d-squiggle-top.png);
				width: 60%; 
				right: 0px;
			}
			&#img-bottom{
				width: 100%; 
				content:url(../assets/d-squiggle-bottom.png);
			}
		}
		img.plant{
			position: absolute;
			&#spider{
				width: 25%;
				top: 0px; 
				left: 5%;
			}
			&#big-leaf{
				width: 28%;
				left: 2%; 
				bottom: 7vw;
			}
			&#blue1{
				width: 25%;
				left: 12%; 
				bottom: 2vw;	
			}
			&#ficus{
				width: 25%;
				right: 22%; 
				bottom: 10vw; 
			}
			&#blue2{
				width: 22%;
				right: 2%; 
				bottom: 8vw;	
			}
			&#snake{
				width: 12%;
				right: 15%; 
				bottom: 9vw; 
			}
			&#veeg{
				width: 10%;
				right: 12%; 
				bottom: 8vw;
			}
		}
	}
	menu{
		.label{
			height: 7vh;
			&#work-button{
				width: 7vh;
				top: 10vh; 
			}
			&#about-button{
				right: 7vh;
			}
		}
	}
	#about{
		#aboutcontent{
			width: 45%; 
			left: 40%; 
			top: 20%; 
		} 
		img{			
			width: 20%;
		}
	}
	#work{
		#workcontent img{
			width: 30%; 
		}
	}
	#project{
		#projectcontent{
			.small{
				width: 50%;
			}
			video{
				width: 100%; 
			}
		}
	}
}

