@import url("https://fonts.googleapis.com/css?family=Averia+Sans+Libre:300,400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Averia+Serif+Libre:300,400,700");
html {
  font-size: 10px; }

*, body {
  margin: 0px;
  padding: 0px; }

h2 {
  font-family: "Averia Sans Libre", sans-serif;
  text-transform: uppercase;
  font-size: 6rem;
  line-height: 5.6rem;
  font-weight: 400;
  text-stroke: 1px #1d1f60;
  -webkit-text-stroke: 1px #1d1f60;
  -moz-text-stroke: 1px #1d1f60;
  color: white; }

h3 {
  font-family: "Averia Sans Libre", sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 3rem;
  color: #1d1f60;
  text-align: center;
  margin-top: 1rem; }

p, blockquote {
  font-family: "Georgia", serif;
  color: #1d1f60;
  font-size: 4rem;
  margin-bottom: 3rem; }

blockquote {
  padding-left: 3rem;
  border-left: 2px solid #1d1f60; }

a {
  font-family: "Averia Serif Libre", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  letter-spacing: -0.08rem;
  text-decoration: none;
  color: #1d1f60; }
  a:visited {
    color: #1d1f60; }
  a:hover {
    color: #292b87; }

#canvas {
  z-index: -1000;
  position: fixed;
  height: 101vh; }

menu {
  position: fixed;
  top: 0px; }
  menu svg {
    stroke-width: 0.18rem;
    stroke: #1d1f60;
    fill: white; }
    menu svg:hover path, menu svg line {
      fill: #BFFFFF; }
  menu .label {
    position: fixed;
    height: 8vw;
    margin: 3rem;
    z-index: 100; }
    menu .label#home-button {
      top: 0px; }
    menu .label#about-button {
      right: 10vw;
      bottom: 0px; }
      menu .label#about-button #hand path,
      menu .label#about-button #hand line {
        transform-origin: 89% 48%;
        -webkit-transition: transform 0.5s;
        -moz-transition: transform 0.5s;
        -ms-transition: transform 0.5s;
        transition: transform 0.5s; }
    menu .label#work-button {
      width: 8vw;
      height: auto;
      top: 11vw;
      right: 0%; }
      menu .label#work-button #hand path,
      menu .label#work-button #hand line {
        transform-origin: 47% 11%;
        -webkit-transition: transform 0.5s;
        -moz-transition: transform 0.5s;
        -ms-transition: transform 0.5s;
        transition: transform 0.5s; }
  menu .fade path, menu .fade line {
    stroke: #5a5af8;
    fill: #9a9afa; }
  menu .fade#work-button #hand path,
  menu .fade#work-button #hand line {
    transform-origin: 47% 11%;
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    transform: rotate(225deg); }
  menu .fade#about-button #hand path,
  menu .fade#about-button #hand line {
    transform-origin: 89% 48%;
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    transform: rotate(225deg); }
  menu #close-button {
    right: 0px; }
  menu #next {
    right: 0px;
    bottom: 0px; }
  menu #previous {
    bottom: -0.5rem; }

section {
  width: 100%;
  display: inline-block;
  position: relative;
  margin-top: -3px; }

#header {
  overflow: hidden;
  height: 101vh; }
  #header img.bg {
    z-index: -10;
    position: absolute;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: 100% auto; }
    #header img.bg#img-bottom {
      bottom: 0px; }
    #header img.bg#img-top {
      top: 0px; }
  #header img.plant {
    position: absolute; }
    #header img.plant#spider {
      z-index: 10;
      width: 40%;
      max-width: 500px;
      top: 0px;
      left: 5%; }
    #header img.plant#ficus {
      width: 50%;
      max-width: 560px;
      right: 5%;
      bottom: 20vw; }
    #header img.plant#big-leaf {
      width: 40%;
      max-width: 480px;
      left: -5%;
      bottom: 12vw; }
    #header img.plant#blue {
      width: 35%;
      max-width: 380px;
      left: 5%;
      bottom: 5vw; }
    #header img.plant#green {
      width: 28%;
      max-width: 300px;
      right: -5%;
      bottom: 16vw; }
    #header img.plant#snake {
      width: 22%;
      max-width: 180px;
      right: 10%;
      bottom: 14vw; }
    #header img.plant#veeg {
      width: 20%;
      ax-width: 176px;
      right: 5%;
      bottom: 12vw; }

#work {
  background: rgba(57, 0, 130, 0.8);
  background: rgba(90, 90, 248, 0.85);
  position: relative;
  display: block; }
  #work #workcontent {
    display: flex;
    flex-direction: column;
    width: 75%;
    left: 5%;
    padding-top: 20.5rem;
    padding-bottom: 10rem;
    position: relative; }
    #work #workcontent a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 75vw; }
      #work #workcontent a img {
        opacity: 0.6;
        width: 100%;
        height: auto; }
      #work #workcontent a div.overlay {
        display: block;
        position: absolute;
        width: 100%; }
        #work #workcontent a div.overlay h2 {
          text-align: center;
          font-size: 6rem;
          text-stroke: 1px #1d1f60;
          -webkit-text-stroke: 1px #1d1f60;
          -moz-text-stroke: 1px #1d1f60;
          line-height: 5rem; }

#about {
  background: rgba(164, 95, 201, 0.85);
  position: relative;
  height: 100vh; }
  #about #aboutcontent {
    position: relative;
    width: 75%;
    top: 20.5rem;
    left: 5%; }
  #about img {
    position: absolute;
    bottom: 2rem;
    left: 5%;
    width: 30%; }

#project {
  pointer-events: unset;
  background: rgba(122, 122, 249, 0.88); }
  #project #projectcontent {
    position: relative;
    width: 75%;
    left: 5%;
    padding-top: 20.5rem;
    padding-bottom: 20rem; }
    #project #projectcontent h2 {
      margin-bottom: 3rem; }
    #project #projectcontent h3 {
      margin-top: -2.6rem;
      margin-bottom: 4rem;
      text-align: left; }
    #project #projectcontent div.img-group {
      margin-top: 5rem;
      margin-bottom: 5rem; }
    #project #projectcontent img, #project #projectcontent video {
      width: 100%;
      margin-top: -4px; }

@media (min-width: 800px) {
  p, blockquote {
    font-size: 2.2rem;
    line-height: 2.8rem; }

  a {
    font-size: 2.3rem; }

  #header .bg#img-top {
    content: url(../assets/d-squiggle-top.png);
    width: 60%;
    right: 0px; }
  #header .bg#img-bottom {
    width: 100%;
    content: url(../assets/d-squiggle-bottom.png); }
  #header img.plant {
    position: absolute; }
    #header img.plant#spider {
      width: 30%;
      top: 0px;
      left: 5%; }
    #header img.plant#big-leaf {
      width: 28%;
      left: 2%;
      bottom: 7vw; }
    #header img.plant#blue {
      width: 25%;
      left: 12%;
      bottom: 2vw; }
    #header img.plant#ficus {
      width: 32%;
      right: 16%;
      bottom: 10vw; }
    #header img.plant#green {
      width: 20%;
      right: 2%;
      bottom: 8vw; }
    #header img.plant#snake {
      width: 12%;
      right: 15%;
      bottom: 9vw; }
    #header img.plant#veeg {
      width: 10%;
      right: 12%;
      bottom: 8vw; }

  menu .label {
    height: 7vh; }
    menu .label#work-button {
      width: 7vh;
      top: 10vh; }
    menu .label#about-button {
      right: 7vh; }

  #work #workcontent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start; }
    #work #workcontent a {
      width: 50%;
      height: auto; }
      #work #workcontent a img {
        opacity: 1; }
      #work #workcontent a div.overlay {
        display: none;
        width: 50%; }
      #work #workcontent a:hover img {
        opacity: 0.3; }
      #work #workcontent a:hover div.overlay {
        display: block; }

  #about #aboutcontent {
    width: 60%;
    left: 25%;
    top: 20%; }
  #about img {
    width: 20%; }

  #project #projectcontent .small {
    width: 50%; }
  #project #projectcontent video {
    width: 100%; } }
@media (min-width: 1200px) and (orientation: landscape) {
  #header .bg img.plant {
    position: absolute; }
    #header .bg img.plant#spider {
      width: 25%;
      top: 0px;
      left: 5%; }
    #header .bg img.plant#big-leaf {
      width: 28%;
      left: 2%;
      bottom: 7vw; }
    #header .bg img.plant#blue {
      width: 25%;
      left: 12%;
      bottom: 2vw; }
    #header .bg img.plant#ficus {
      width: 25%;
      right: 22%;
      bottom: 10vw; }
    #header .bg img.plant#green {
      width: 15%;
      right: 2%;
      bottom: 8vw; }
    #header .bg img.plant#snake {
      width: 12%;
      right: 15%;
      bottom: 9vw; }
    #header .bg img.plant#veeg {
      width: 10%;
      right: 12%;
      bottom: 8vw; }

  #work #workcontent {
    max-width: 1200px;
    left: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start; }
    #work #workcontent a {
      width: 33%;
      height: auto; }
      #work #workcontent a img {
        opacity: 1; }
      #work #workcontent a div.overlay {
        display: none;
        width: 33%; }
      #work #workcontent a:hover img {
        opacity: 0.3; }
      #work #workcontent a:hover div.overlay {
        display: block; }

  #about #aboutcontent {
    width: 45%;
    left: 40%;
    top: 20%; }
  #about img {
    width: 20%; }

  #project #projectcontent {
    max-width: 1400px;
    left: 10%; } }
@media (min-width: 800px) and (orientation: portrait) {
  menu .label {
    height: 8vw; }
    menu .label#work-button {
      width: 8vw; } }
@media (hover: none) {
  #work #workcontent a {
    display: flex;
    justify-content: center;
    align-items: center; }
    #work #workcontent a img {
      opacity: 0.4; }
    #work #workcontent a div.overlay {
      display: block;
      position: absolute; } }

/*# sourceMappingURL=main.css.map */
