@import url('https://fonts.googleapis.com/css?family=Averia+Sans+Libre:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700');
@import url('https://fonts.googleapis.com/css?family=Alegreya:700');
@import url('https://fonts.googleapis.com/css?family=Gentium+Basic:700');
@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre:400,700');
@import url('https://fonts.googleapis.com/css?family=Eczar:400,500,600');
@import url('https://fonts.googleapis.com/css?family=UnifrakturMaguntia');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700');

$project-purple: #7a7af9;
$dark-purple: #390082;
$about-purple: #a45fc9;
$label-size: 8vh; 
$body-color: #220689;

html{
  font-size: 10px;
}

*, body{
	margin: 0px;
	padding: 0px;
}

a{
	text-decoration: none;
	font-style: italic;
	&:visited{
		color: $body-color;
	}
}

#canvas{
	z-index: -1000; 
	position: fixed;
}

menu{
	position: fixed;
	top: 0px;
	svg{
		stroke-width: 0.15rem; 
		stroke: $dark-purple; 
		fill: white; 
		&:hover path{
			fill: #CAFF4D;
		}
	}
	.label{
		position: fixed;
		height: 8vw;
		margin: 1.5rem;
		z-index: 100; 
		&#home-button{
			top: 0px; 
		}
		&#about-button{
			right: 8vw;
			bottom: 0px;
		}
		&#work-button{
			width: 8vw;
			height: auto;
			top: 8vw; 
			right: 0%;
		}
	}
}


section{
	width: 100%; 
	display: inline-block;
	position: relative;
	top: -3px;


}

#header{
	height: 100vh; 
	.bg{
		position: absolute;
		width: 100%;
		height: auto;
		background-repeat: no-repeat;
		background-size: 100% auto;
		&#img-bottom{
			// background-image: url(../assets/m-squiggle-bottom.png);
			// background-position: bottom;
			bottom: 0px; 
		}
		&#img-top{
			// background-image: url(../assets/m-squiggle-top.png);
			top: 0px; 
		}
	}

}

#work{
	background: rgba(57,0,130,0.8);
	position: relative;
	display: block;
	#workcontent{
		position: relative;
		width: 80%; 
		left: 5%;
		padding-top: 10rem;
		padding-bottom: 10rem;
		img{
			width: 100%;
		}
	}
}

#about{
	background: rgba(164,95,201,0.85);
	position: relative;
	height: 100vh; 
	#aboutcontent{
		position: relative;
		width: 75%; 
		top: 15%; 
		left: 10%;
		p{
			font-family: serif;
			color: $body-color;
			font-size: 4rem;
			margin-bottom: 3rem;
		}
	}
	img{
		position: absolute;
		bottom: 2rem; 
		left: 5%; 
		width: 30%;
	}
}

.content{
	z-index: 10;
	position: relative;
}


@media (min-width: 800px) and (orientation: landscape){
	#header{
		background: rgba(255,255,0,0.8);
		.bg{
			&#img-top{
				content:url(../assets/d-squiggle-top.png);
				width: 60%; 
				right: 0px;
			}
			&#img-bottom{
				width: 100%; 
				content:url(../assets/d-squiggle-bottom.png);
			}
		}
	}
	menu{
		.label{
			height: 8vh;
			&#work-button{
				width: 8vh;
				top: 8vh; 
			}
			&#about-button{
				right: 8vh;
			}
		}
	}
	#about{
		#aboutcontent{
			width: 45%; 
			left: 40%; 
			top: 20%; 
			p{

				font-size: 2.4rem;
			}
		} 
		img{
			width: 20%;
		}
	}
	#work{
		#workcontent img{
			width: 30%; 
		}
	}
}

