@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,300,300italic);
@import 'https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700';

html{
  font-size: 60.5%;
}

*{
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;

}

body{
	cursor:  url(../work/images/cursors/cursor_halloween_2.png) 0 0, auto;
}

#canvas{
	position: fixed;
	overflow: hidden;
	width: 100%;
	z-index: 0;
}

div.menu{
	width: 100%;
	top: 88px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}
div.menu a{
	background: #B1003F;
	letter-spacing: 1px;
	color: #E7FF00;
	color: white;
	padding: 12px 30px;
	font-size: 2em;
	text-decoration: none;
}
div.menu div.right{
	position: absolute;
	top: 0px;
	right: 0px;
}
div.menu a.selected{
	background: #FF2F00;
}
div.menu a:visited{
	color: #E7FF00;
}
div.menu a:hover{
	background: #DA1F00;
}


.content{
	position: absolute;
	background: white;
	z-index: 1;
	width: 100%;
	left: 0px;
	top: 300px;
}

.col{
	display: inline-block;
	width: 100%;
	height: 33vh;
	max-height: 236px;
	margin: 15px;
	overflow: hidden;
	position: relative;
}

.col-1,
.col-2{
	/*width: 100%;*/
	margin: 0px;
	margin-bottom: -3px;
}

.col img{
	width: 100vw;
	vertical-align: middle;
	z-index: 0;
}

.col div.overlay{
	background: linear-gradient(to bottom, rgba(177,0,63,0.95) 0%, rgba(255,64,0,0.6) 100%);
	display: block;
	top: 0px;
	width: 100%;
	height: 100%;
	color: #E7FF00;
	letter-spacing: 0.5px;
	z-index: 10;
	position: absolute;
}

.col div.overlay h2{
	position: relative;
	top: 30px;
	left: 30px;
}

ul{
	padding: 0;
	margin-top: 20px;
}

h2{
	font-family: 'Libre Baskerville', serif; 
	font-weight: 300;
	font-size: 2em;
}

h1, li{
	font-size: 12pt;
	font-size: 2rem;
	margin: 0px 90px 0px 0px;
	letter-spacing: 1px;
	list-style: none;
	padding: 0px 5px 1px 40px;
	display: inline-block;
}

a{
	cursor:  url(../work/images/cursors/cursor_halloween_1.png) 0 0, auto;
}


.content h2.projectTitle{
	font-family: 'Libre Baskerville', serif; 
	color: #FF2F00;
	font-size: 24pt;
	margin-bottom: 30px;
}

.content .space_top{
	margin-top: 40px;
}

.content .space_bottom{
	margin-bottom: 20px;
}

.content h2.projectTitle{
	color: #FF2F00;
	padding: 30px 30px 0px 30px;
	font-size: 2.5em;
}

.content video{
	margin: 40px 0px 20px 0px;
	width: 100%;
}

.content img.big{
	width: 100%;
}

.content img.small{
	width: 50%;
}

.content p{
	font-size: 1.8rem;
	padding: 0px 30px;
	margin: 10px 0px 0px 0px;
}

.content p a{
	color: #0C86F5; /* #438C9C; */
	text-decoration: none;
}

.content p.caption{
	text-align: center;
	font-size: 12pt;
	color: #0F7ED1;
}

.content blockquote{
	font-size: 14pt;
	margin: 10px 0px 0px 0px;
	padding-left: 20px;
	border-left: 1px dotted #00409C;
}

.content .first{
	margin-top: 70px;
}

.content .last{
	margin-bottom: 70px;
}

.italic{
	font-style: italic;
}


h3{
	font-weight: 700;
	font-family: 'Libre Baskerville', serif; 
}

.resume{
	color: black;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -525px;
	width: 1000px;
	background: #FFF;
	padding: 0px 25px;
}

.resume h2{
	font-weight: 700;
	font-family: 'Libre Baskerville', serif;  
}

.resume #col-1 section,
.resume #col-2 section{
	margin-bottom: 20px;
}

.resume div.picture{
	width: 100%;
	height: 300px;
	border-bottom: 2px solid black; 
	margin-bottom: 100px;
}

.resume div.picture img{
	height: 100%;
	margin-left: 20px;
}

.resume #col-1{
	margin-top: 50px;
	vertical-align: top;
	width: 36%; 
	display: inline-block;
}
.resume #col-2{
	margin-top: 50px;
	margin-left: 20px;
	vertical-align: top;
	width: 60%; 
	display: inline-block;
}

.resume p{
	font-size: 12pt;
}

.resume a{
	color: black;
}

.bold{
	font-weight: 400;
}

@media print{
	canvas{
		display: none;
	}
	.resume{
		background: yellow;
		width: 100%; 
		left: 0px;
		margin-left: 0px;
	}

	.resume #col-1{
		width: 36% !important;
	}
	.resume #col-2{
		width: 50% !important;
	}


}

@media (min-width: 830px) {

	.content{
		color: #00409C;
		position: relative;
		top: 100px;
		width: 800px;
		margin-bottom: 100px;
		margin-left: auto; 
		margin-right: auto;
		background: #E0FCFF;
		padding: 15px;
	}

	.col{
		display: inline-block;
		height: 236.66px;
		margin: 15px;
		overflow: hidden;
		position: relative;
	}

	.col-1{
		width: 236.66px;
	}

	.col-2{
		width: 503.32px;
	}

	.col img{
		width: 100%;
	}

	.col div.overlay{
		display: none;
	}


	.col:hover div.overlay{
		display: block;
		top: 0px;
		transition: top 3s;
	}

	div.menu{
		width: 830px;
	}

}


@media (min-width: 1200px) {
	.content{
		width: 1000px;
	}

	div.menu{
		width: 1030px;
	}

	.col{
		height: 303px;
		max-height: 303px;
	}

	.col-1{
		width: 303px;
	}

	.col-2{
		width: 636px;
	}
}

@media (hover: none) {
	
	.col div.overlay{
		display: block;
		top: 0px;
	}

}

/*@media only screen and (max-device-width: 480px) {
	.content{
		background: white;
		z-index: 1;
		width: 100vw;
		left: 0px;
		top: 300px;
		padding: 0px;
	}

	.col-1,
	.col-2{
		width: 100%;
		margin: 0px;
		margin-bottom: -3px;
	}

	.content h2.projectTitle{
		font-size: 46pt; 
	}

	.content p,
	.content blockquote{
		font-size: 35pt; 
		margin: 40px 0px;
	}

	.content blockquote{
		border-left: 2px solid blue;
	}

	.content p.caption{
		font-size: 24pt;
	}
}

*/

