@import url("https://use.typekit.net/hvq7vja.css");
* {
  margin: 0;
  padding: 0; }

body.dark {
  background: #E0ECFF; }

a {
  text-decoration: none;
  color: #365FFF; }
  a:hover {
    color: #2626C4; }

.italic {
  font-style: italic; }

menu {
  top: 0px;
  position: fixed; }
  menu .buttons {
    position: absolute;
    left: 100vw;
    background: #191163;
    width: 100vw;
    height: 100vh;
    transition: left 1s; }
    menu .buttons h3 {
      position: relative;
      top: 40%;
      font-size: 4.5vw;
      text-align: center;
      width: 100%; }
      menu .buttons h3 a {
        margin: 0 auto 30px auto;
        display: block; }
  menu #menuToggle {
    position: fixed;
    width: 8vw;
    max-width: 80px;
    height: auto;
    top: 30px;
    right: 30px; }

#headerCanvas {
  display: none; }

section#header {
  margin: auto;
  padding: 200px 0; }
  section#header .introHeader {
    font-family: "alverata", serif;
    text-align: center;
    position: relative;
    color: #365FFF;
    margin: auto;
    top: 40%;
    width: 80%;
    font-size: 4.5vw; }
    section#header .introHeader a {
      font-style: italic; }

p {
  font-family: "source-sans-pro", "helvetica", sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 20px; }

p.blockquote {
  border-left: 2px solid #365FFF;
  padding-left: 30px; }

blockquote {
  font-family: "source-sans-pro", "helvetica", sans-serif;
  font-weight: 300;
  margin: 100px auto;
  font-size: 22px;
  margin-bottom: 20px;
  border-left: 2px solid #365FFF;
  padding-left: 30px; }

h3.sectionTitle {
  font-size: 20px;
  width: 100%;
  padding: 10px 0 40px 0;
  color: #365FFF;
  border-top: 3px dotted #365FFF; }

h3.title {
  margin-top: 8px;
  margin-bottom: 5px;
  font-family: "alverata", serif;
  font-size: 20px;
  font-weight: 300; }

h3.skills {
  font-size: 20px;
  font-family: "source-sans-pro", "helvetica", sans-serif;
  color: #365FFF;
  margin-top: 5px;
  font-weight: 300; }

@keyframes slide-work {
  from {
    top: 150px;
    opacity: 0; }
  to {
    top: 0px;
    opacity: 1; } }
section#work {
  animation: slide-work 1500ms forwards;
  margin: auto;
  position: relative;
  top: 0px;
  width: 100%; }
  section#work #selectedWork {
    overflow: hidden;
    margin: 0 auto 100px auto;
    width: 80%; }
    section#work #selectedWork .project {
      margin-bottom: 100px;
      width: 100%; }
      section#work #selectedWork .project a:hover h2.selectedHeader,
      section#work #selectedWork .project a:hover h3.selectedTitle,
      section#work #selectedWork .project a:hover h3.skills {
        color: #2626C4; }
      section#work #selectedWork .project a:hover img {
        outline: solid 10px #2626C4;
        outline-offset: -10px; }
      section#work #selectedWork .project a h2.selectedHeader {
        font-family: "alverata", serif;
        font-weight: 600;
        font-size: 4.5vw;
        margin-top: 5px; }
      section#work #selectedWork .project a h3.selectedTitle {
        margin-top: 8px;
        font-family: "alverata", serif;
        font-size: 17px;
        font-weight: 300; }
      section#work #selectedWork .project a img {
        width: 100%;
        outline-offset: 0px;
        transition: all 300ms; }
      section#work #selectedWork .project a#viewMore h3 {
        padding: 50px 0 50px 0;
        border: 3px dotted #365FFF;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
        text-align: center; }
        section#work #selectedWork .project a#viewMore h3:hover {
          border: 3px dotted #2626C4;
          background: rgba(0, 51, 255, 0.1); }
  section#work .moreWork {
    float: bottom;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    width: 80%;
    margin: auto; }
    section#work .moreWork .project {
      width: 100%;
      margin-bottom: 80px; }
      section#work .moreWork .project a {
        color: #365FFF; }
        section#work .moreWork .project a h3.title {
          font-weight: 400; }
        section#work .moreWork .project a h2.selectedHeader {
          font-family: "alverata", serif;
          font-weight: 600;
          font-size: 4.5vw;
          max-width: 600px;
          margin-top: 5px; }
        section#work .moreWork .project a h3.selectedTitle {
          margin-top: 8px;
          font-family: "alverata", serif;
          font-size: 17px;
          font-weight: 300; }
        section#work .moreWork .project a:hover h2.selectedHeader {
          text-decoration: underline; }
        section#work .moreWork .project a:hover h3.title,
        section#work .moreWork .project a:hover h2.selectedHeader,
        section#work .moreWork .project a:hover h3.selectedTitle,
        section#work .moreWork .project a:hover h3.skills {
          color: #2626C4; }
      section#work .moreWork .project img {
        width: 100%;
        outline-offset: 0px;
        transition: all 300ms; }

@keyframes slide-project {
  from {
    top: 300px;
    opacity: 0; }
  to {
    top: 150px;
    opacity: 1; } }
section#fullProject {
  animation: slide-project 1500ms forwards;
  -webkit-animation: slide-project 1500ms forwards;
  position: relative;
  width: 80%;
  max-width: 1074px;
  top: 150px;
  margin: auto; }
  section#fullProject img {
    width: 100%; }
    section#fullProject img#self {
      width: 80%; }
  section#fullProject h2.selectedHeader {
    text-align: center;
    font-family: "alverata", serif;
    font-weight: 600;
    margin: 5px auto 0 auto; }
  section#fullProject h3 {
    text-align: center; }
  section#fullProject .header {
    margin: auto;
    width: 100%;
    max-width: 1074px;
    color: #365FFF; }
  section#fullProject p {
    margin: 0 auto 20px auto;
    top: 50px;
    position: relative; }
    section#fullProject p.intro {
      font-family: "alverata", serif;
      line-height: 30px;
      font-size: 20px; }
  section#fullProject div.img-group {
    position: relative;
    margin-top: 150px;
    margin-bottom: 70px;
    display: block;
    overflow: hidden; }
    section#fullProject div.img-group video.big, section#fullProject div.img-group img.big {
      width: 100%;
      margin-top: -4px; }
    section#fullProject div.img-group img.small {
      width: 50%;
      margin-top: -4px; }

section#nextProject {
  width: 100%;
  text-align: center;
  margin-top: 200px;
  padding: 40px 0 70px 0;
  background: #E0ECFF; }
  section#nextProject .header {
    width: 80%;
    max-width: 1074px;
    margin: auto; }
    section#nextProject .header a {
      width: 100%; }
      section#nextProject .header a h2.selectedHeader {
        text-align: center;
        font-family: "alverata", serif;
        font-weight: 600;
        margin: 5px auto 0 auto; }
      section#nextProject .header a p {
        font-size: 18px; }
      section#nextProject .header a:hover h2.selectedHeader {
        text-decoration: underline;
        color: #2626C4; }
      section#nextProject .header a:hover h2.selectedHeader,
      section#nextProject .header a:hover h3.skills,
      section#nextProject .header a:hover h3.title {
        color: #2626C4; }

@keyframes slide-about {
  from {
    top: 100px;
    opacity: 0; }
  to {
    top: 0px;
    opacity: 1; } }
section#about {
  animation: slide-about 1000ms forwards;
  top: 0px;
  width: 80%;
  max-width: 1074px;
  padding: 50px 0 100px 0;
  margin: auto;
  position: relative; }
  section#about img#self,
  section#about div#hello {
    align-self: flex-start;
    width: 100%;
    color: #365FFF; }
    section#about img#self h2.title, section#about img#self h3.title,
    section#about div#hello h2.title,
    section#about div#hello h3.title {
      margin-bottom: 20px; }
    section#about img#self h2.selectedHeader, section#about img#self h3.selectedHeader,
    section#about div#hello h2.selectedHeader,
    section#about div#hello h3.selectedHeader {
      margin-bottom: 40px;
      font-size: 3.8vw; }
    section#about img#self p,
    section#about div#hello p {
      margin-bottom: 20px; }

section#footer {
  background: #191163;
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 50px 0 50px 0; }
  section#footer h3 {
    color: #365FFF;
    font-size: 18px;
    font-family: "source-sans-pro", "helvetica", sans-serif;
    margin-top: 5px;
    font-weight: 300; }
    section#footer h3 a {
      color: #365FFF; }
      section#footer h3 a:hover {
        color: #2626C4; }

@media only screen and (min-width: 992px) {
  #headerCanvas {
    display: block;
    z-index: -100;
    position: absolute;
    top: 0px;
    left: 0px; }

  menu {
    display: block;
    width: 94%;
    left: 3%;
    top: 30px;
    border-top: 2px solid #365FFF;
    padding: 10px 0 0 0; }
    menu .buttons {
      left: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      height: auto;
      font-size: auto;
      background: none; }
      menu .buttons h3 {
        font-size: 18px;
        width: auto; }
        menu .buttons h3 a {
          margin: 0px;
          display: inline-block; }
          menu .buttons h3 a#aboutButton {
            margin-left: 30px; }
    menu #menuToggle {
      display: none; }

  section#header {
    padding: 0px 0 0px 0;
    height: 60vh;
    vertical-align: center; }
    section#header .introHeader {
      font-size: 36px;
      max-width: 850px; }

  section#work {
    margin: 0px auto 100px auto; }
    section#work #selectedWork {
      width: 80%;
      max-width: 1074px; }
      section#work #selectedWork .project {
        width: 48%;
        max-width: 512px;
        margin-bottom: 100px; }
        section#work #selectedWork .project:hover h2.selectedHeader {
          color: #365FFF;
          text-decoration: underline; }
        section#work #selectedWork .project a h2.selectedHeader {
          width: 100%;
          font-size: 2.2vw;
          max-width: 600px; }
        section#work #selectedWork .project.left {
          float: left; }
        section#work #selectedWork .project.right {
          float: right; }
        section#work #selectedWork .project img {
          width: 100%; }
    section#work .moreWork {
      padding-top: 100px;
      width: 80%;
      max-width: 1074px; }
      section#work .moreWork .project {
        width: 30%; }
        section#work .moreWork .project a h2.selectedHeader {
          width: 100%;
          font-size: 2.2vw; }

  section#fullProject h2.selectedHeader {
    font-size: 3vw;
    text-align: center;
    font-family: "alverata", serif;
    font-weight: 600;
    margin: 5px auto 0 auto;
    width: 66%; }
  section#fullProject p {
    width: 80%; }
  section#fullProject blockquote {
    width: 80%; }
  section#fullProject img#self {
    width: 50%;
    margin: 100px auto; }

  section#nextProject h2.selectedHeader {
    width: 66%;
    font-size: 3vw; }

  section#about {
    overflow: hidden;
    width: 80%;
    max-width: 1330px;
    padding: 150px 0 150px 0;
    display: flex;
    justify-content: center; }
    section#about div#hello {
      width: 50%; }
      section#about div#hello h2.title, section#about div#hello h3.title {
        text-align: left; }
      section#about div#hello h2.selectedHeader, section#about div#hello h3.selectedHeader {
        text-align: left;
        font-size: 1.8vw;
        line-height: 2.4vw; }
      section#about div#hello p {
        text-align: left; }
    section#about img#self {
      width: 38%;
      margin-right: 30px; } }
@media only screen and (min-width: 1330px) {
  section#work #selectedWork .project {
    margin-bottom: 120px; }
    section#work #selectedWork .project a h2.selectedHeader {
      font-size: 30px; }
  section#work .moreWork .project {
    margin-bottom: 120px; }
    section#work .moreWork .project a h2.selectedHeader {
      font-size: 25px; }

  section#fullProject h2.selectedHeader {
    font-size: 40px; }

  section#nextProject h2.selectedHeader {
    font-size: 4.5vw;
    max-width: 1074px;
    font-size: 40px; }

  section#about img#self,
  section#about div#hello {
    align-self: center; }
  section#about div#hello h2.selectedHeader {
    font-size: 24px;
    line-height: 30px; } }

/*# sourceMappingURL=style.css.map */
