@import url("https://use.typekit.net/hvq7vja.css");

$hoverColour: #2626C4;
$skills: #365FFF;
$background: #E0ECFF;
$primary: #3617ce;
$secondary: #365FFF;
$nextBackground: #E0ECFF;
$darkBackground: #191163;

*{
	margin: 0; 
	padding: 0;
}

body.dark{
	background: $background;
}


a{
	text-decoration: none;
	color: $secondary;
	&:hover{
		color: $hoverColour;
	}
}

.italic{
	font-style: italic;
}

menu{
	top: 0px;
	position: fixed; 
	.buttons{
		position: absolute; 
		left: 100vw;
		background: $darkBackground;
		width: 100vw; 
		height: 100vh;
		transition: left 1s;
		h3{
			position: relative;
			top: 40%;
			font-size: 4.5vw;
			text-align: center;
			a{
				margin: 0 auto 30px auto;
				display: block;
			}
			width: 100%;
		}
	}
	#menuToggle{
		position: fixed;
		width: 8vw;
		max-width: 80px;
		height: auto;
		top: 30px; 
		right: 30px;
	}
}

#headerCanvas{
	display: none;
}

section#header{
	margin: auto;
	padding: 200px 0;
	.introHeader{
		font-family: "alverata", serif;
		text-align: center;
		position: relative;
		color: $secondary;
		margin: auto;
		top: 40%;
		width: 80%;
		font-size: 4.5vw;
		a{
			font-style: italic;
		}
	}
}

p{
	font-family: "source-sans-pro", "helvetica", sans-serif;
	font-weight: 300; 
	font-size: 20px;
	margin-bottom: 20px;
}

p.blockquote{
	border-left: 2px solid $secondary;
	padding-left: 30px;
}

blockquote{
	font-family: "source-sans-pro", "helvetica", sans-serif;
	font-weight: 300; 
	margin: 100px auto;
	font-size: 22px;
	margin-bottom: 20px;
	border-left: 2px solid $secondary;
	padding-left: 30px;
}

h3.sectionTitle{
	font-size: 20px;
	width: 100%; 
	padding: 10px 0 40px 0;
	color: $secondary;
	border-top: 3px dotted $secondary;
}
h3.title{
	margin-top: 8px;
	margin-bottom: 5px;
	font-family: "alverata", serif;
	font-size: 20px;
	font-weight: 300;
}
h3.skills{
	font-size: 20px;
	font-family: "source-sans-pro", "helvetica", sans-serif;
	color: $skills;
	margin-top: 5px;
	font-weight: 300; 
}

@keyframes slide-work {
    from {
		top: 150px;
		opacity: 0; 
    }
    to {
		top: 0px; 
		opacity: 1;
    }
}
section#work{
	animation: slide-work 1500ms forwards;
	margin: auto;
	position: relative;
	top: 0px; 
	width: 100%;
	#selectedWork{
		overflow:hidden;
		margin: 0 auto 100px auto;
		width: 80%;
		.project{
			margin-bottom: 100px;
			width: 100%;
			a{
				&:hover{
					h2.selectedHeader,
					h3.selectedTitle,
					h3.skills{
						color: $hoverColour;
					}
					img{
						outline: solid 10px $hoverColour;
					    outline-offset: -10px;
					}
				}
				h2.selectedHeader{
					font-family: "alverata", serif;
					font-weight: 600;
					font-size: 4.5vw;
					// max-width: 600px;
					margin-top: 5px;
					
				}
				h3.selectedTitle{
					margin-top: 8px;
					font-family: "alverata", serif;
					font-size: 17px;
					font-weight: 300;
				}
				img{
				    // background: $nextBackground;
					width: 100%;
					outline-offset: 0px;
					transition: all 300ms;
				}
				&#viewMore{
					h3{
						padding: 50px 0 50px 0;
						border: 3px dotted $secondary;
						box-sizing: border-box;
					    -moz-box-sizing: border-box;
					    -webkit-box-sizing: border-box;
						width: 100%;
						text-align: center;
						&:hover{
							border: 3px dotted $hoverColour;
							background: rgba(0,51,255,0.1);
						}
					}
				}
			
			}
		}

	}
	.moreWork{
		float: bottom;
		display: flex;
		flex-direction: row; 
		flex-wrap: wrap;
		align-content: flex-start;
		justify-content: space-between;
		width: 80%;
		margin: auto;
		.project{
			width: 100%;
			margin-bottom: 80px;
			a{
				color: $secondary;
				h3.title{
					font-weight: 400;
				}
				h2.selectedHeader{
					font-family: "alverata", serif;
					font-weight: 600;
					font-size: 4.5vw;
					max-width: 600px;
					margin-top: 5px;
					
				}
				h3.selectedTitle{
					margin-top: 8px;
					font-family: "alverata", serif;
					font-size: 17px;
					font-weight: 300;
				}
				&:hover{
					h2.selectedHeader{
						text-decoration: underline;
					}
					h3.title,
					h2.selectedHeader,
					h3.selectedTitle,
					h3.skills{
						color: $hoverColour;
					}
					img{
						// outline: solid 10px $hoverColour;
					 //    outline-offset: -10px;
					}
				}
			}
			img{
				width: 100%;
				outline-offset: 0px;
				transition: all 300ms;
				
			}
		}
	}
}

@keyframes slide-project {
    from {
		top: 300px;
		opacity: 0; 
    }
    to {
		top: 150px; 
		opacity: 1;
    }
}
section#fullProject{
	animation: slide-project 1500ms forwards;
	-webkit-animation: slide-project 1500ms forwards;
	position: relative;
	width: 80%;
	max-width: 1074px;
	top: 150px;
	margin: auto;
	img{
		width: 100%; 
		&#self{
			width: 80%; 
		}
	}
	h2.selectedHeader{
		text-align: center;
		font-family: "alverata", serif;
		font-weight: 600;
		margin: 5px auto 0 auto;
	}
	h3{
		text-align: center;
	}
	.header{
		margin: auto;
		width: 100%; 
		max-width: 1074px;
		color: $secondary;
	}
	p{	
		margin: 0 auto 20px auto;
		top: 50px;
		position: relative;
		&.intro{
			font-family: "alverata", serif;
			line-height: 30px;
			font-size: 20px;
		}
	}
	div.img-group{
		position: relative;
		margin-top: 150px;
		margin-bottom: 70px;
		display: block;
		overflow: hidden;
		video.big, img.big{
			width: 100%; 
			margin-top: -4px;
		}
		img.small{
			width: 50%;
			margin-top: -4px;
		}
	}
}

section#nextProject{
	width: 100%; 
	text-align: center;
	margin-top: 200px;
	padding: 40px 0 70px 0;
	background: $nextBackground;
	.header{
		width: 80%;
		max-width: 1074px;
		margin: auto;
		a{
			width: 100%;
			h2.selectedHeader{
				text-align: center;
				font-family: "alverata", serif;
				font-weight: 600;
				margin: 5px auto 0 auto;
			}
			p{
				font-size: 18px;
			}
			&:hover{
				h2.selectedHeader{
					text-decoration: underline;
					color: $hoverColour;
				}
				h2.selectedHeader,
				h3.skills,
				h3.title{
					color: $hoverColour;
				}

			}
		}
	}
}

@keyframes slide-about {
    from {
		top: 100px;
		opacity: 0; 
    }
    to {
		top: 0px; 
		opacity: 1;
    }
}
section#about{
	animation: slide-about 1000ms forwards;
	top: 0px;
	width: 80%;
    max-width: 1074px;
    padding: 50px 0 100px 0;
    margin: auto;
    position: relative;
	img#self, 
	div#hello{
		align-self: flex-start;
		width: 100%;
		color: $secondary;
		h2, h3{
			&.title{
				margin-bottom: 20px;
			}
			&.selectedHeader{
				margin-bottom: 40px;
				font-size: 3.8vw;
					
			}
		}
		p{
			margin-bottom: 20px;
		}
	}
	
}

section#footer{
	background: $darkBackground;
	position: absolute;
	width: 100%;
	text-align: center;
	padding: 50px 0 50px 0;
	h3{
		color: $skills;
		font-size: 18px;
		font-family: "source-sans-pro", "helvetica", sans-serif;
		margin-top: 5px;
		font-weight: 300; 
		a{
			color: $skills;
			&:hover{
				color: $hoverColour;
			}
		}
	}
}



// @media (min-width: 1200px) and (orientation: landscape){
@media only screen and (min-width: 992px){
	#headerCanvas{
		display: block;
		z-index: -100;
		position: absolute;
		top: 0px; 
		left: 0px; 
	}
	menu{
		display: block;
		width: 94%;
		left: 3%;
		top: 30px;
		border-top: 2px solid $secondary;
		padding: 10px 0 0 0;
		.buttons{
			left: auto;
			display: flex;
			flex-direction: row; 
			justify-content: space-between;
			width: 100%;
			height: auto;
			font-size: auto;
			background: none;
			h3{
				font-size: 18px;
				width: auto;
				a{	
					margin: 0px;
					display: inline-block;
					&#aboutButton{
						margin-left: 30px;
					}
				}
			}
		}
		#menuToggle{
			display: none;
		}
	}
	section#header{
		padding: 0px 0 0px 0;
		height: 75vh;
		// max-height: 1200px;
		vertical-align: center;
		.introHeader{
			font-size: 36px;
			max-width: 850px;
		}
	}
	section#work{
		margin: 0px auto 100px auto;
		#selectedWork{
			width: 80%;
			max-width: 1074px;
			.project{
				width: 48%;
				max-width: 512px;
				margin-bottom: 100px;
				&:hover h2.selectedHeader{
					color: $secondary;
					text-decoration: underline;
				}
				a h2.selectedHeader{
					width: 100%;
					font-size: 2.2vw;
				    max-width: 600px;
				}
				&.left{
					float: left;
				}
				&.right{
					float: right;
				}
				img{
					width: 100%;
				}
			}
		}
		.moreWork{
			padding-top: 100px;
			width: 80%;
			max-width: 1074px;
			.project{
				width: 30%;
				a h2.selectedHeader{
					width: 100%;
					font-size: 2.2vw;
				}
			}
		}
	}
	section#fullProject{
		h2.selectedHeader{
			font-size: 3vw;
			text-align: center;
			font-family: "alverata", serif;
			font-weight: 600;
			margin: 5px auto 0 auto;
			width: 66%; 
		}
		p{
			width: 80%; 
		}
		blockquote{
			width: 80%; 
		}
		img#self{
			width: 50%; 
			margin: 100px auto;
		}
	}
	section#nextProject{
		h2.selectedHeader{
			width: 66%; 
			font-size: 3vw;
		}
	}


	section#about{
		overflow: hidden;
		width: 80%;
	    max-width: 1330px;
	    padding: 150px 0 150px 0;
	    display: flex;
		justify-content: center;
		div#hello{
		    width: 50%; 
		    h2, h3{
			    &.title{
				    text-align: left;
			    }
			    &.selectedHeader{	
					text-align: left;
					font-size: 1.8vw;
					line-height: 2.4vw;
			    }
		    }
		    p{
				text-align: left;
		    }
	    }
		img#self{
			width: 38%; 
		    margin-right: 30px;
		}
	}
}

@media only screen and (min-width: 1330px){
	section#work{
		#selectedWork .project{
			margin-bottom: 120px;
			a h2.selectedHeader{
				font-size: 30px;
			}
		}
		.moreWork .project{
			margin-bottom: 120px;
			a h2.selectedHeader{
				font-size: 25px;
			}
		}
	}
	section#fullProject{
		h2.selectedHeader{
			font-size: 40px;
		}
	}
	section#nextProject{
		h2.selectedHeader{
			font-size: 4.5vw;
			max-width: 1074px;
			font-size: 40px;
		}
	}
	section#about{
		img#self, 
		div#hello{
			align-self: center;
		}
		div#hello{
			h2.selectedHeader{
				font-size: 24px;
				line-height: 30px;
			}
		}
	}
}

